<div class="card">
    <div class="card-header font-weight-bold text-uppercase">
        Development Cards
    </div>
    <div class="card-body">
        <div class="card-text">
            <div class="row">
                <div class="col-6">
                    <b>Knight:</b>
                </div>
                <div class="col-6">
                    0
                </div>
            </div>
            <div class="row">
                <div class="col-6 font-weight-bold">
                    Victory Point:
                </div>
                <div class="col-6">
                    0
                </div>
            </div>
            <div class="row">
                <div class="col-6 font-weight-bold">
                    Road Building:
                </div>
                <div class="col-6">
                    0
                </div>
            </div>
            <div class="row">
                <div class="col-6 font-weight-bold">
                    Year of Plenty:
                </div>
                <div class="col-6">
                    0
                </div>
            </div>
            <div class="row">
                <div class="col-6 font-weight-bold">
                    Monopoly:
                </div>
                <div class="col-6">
                    0
                </div>
            </div>
        </div>
        <div class="dropdown mt-3">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Actions
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                <a class="dropdown-item" href="#">Play a card</a>
                <a class="dropdown-item" href="#">Buy a card</a>
            </div>
        </div>
    </div>
</div>