<div class="card">
    <div class="card-header font-weight-bold text-uppercase">
        Logs
    </div>
    <div class="card-body">
        @if (!Logs.Any())
        {
            <div class="card-text">
                No log messages available
            </div>
        }
        else
        {
            <div class="card-text">
                @foreach (var log in Logs)
                {
                    <span>@log</span>
                }
            </div>
        }

    </div>
</div>


@code {
    [Parameter] public IEnumerable<string> Logs { get; set; }
}
