<div class="card">
    <div class="card-header font-weight-bold text-uppercase">
        Player
    </div>
    <div class="card-body">
        <div class="card-text">
            <div class="row">
                <div class="col-6 font-weight-bold">Name:</div>
                <div class="col-6">Hank</div>
            </div>
            <div class="row">
                <div class="col-6 font-weight-bold">Color:</div>
                <div class="col-6">Red</div>
            </div>
            <div class="row">
                <div class="col-6 font-weight-bold">Victory Points:</div>
                <div class="col-6">0</div>
            </div>
            <div class="row">
                <div class="col-6 font-weight-bold">Achievements:</div>
                <div class="col-6">
                    <div>
                        <span>Longest Road</span>
                        <span class="text-center achievement-icon">
                            <i class="fas fa-medal"></i>
                        </span>
                    </div>
                    <div>
                        <span>Largest Army</span>
                        <span class="text-center achievement-icon">
                            <i class="fas fa-medal"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>