<div class="card">
    <div class="card-header font-weight-bold text-uppercase">
        Resources
    </div>
    <div class="card-body">
        <div class="card-text">
            <div class="d-flex justify-content-around">
                <div class="d-flex flex-column">
                    <img class="resource-img" src="img/resources/brick.svg">
                    <span class="text-center">12</span>
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <img class="resource-img" src="img/resources/grain.svg">
                    <span class="text-center">12</span>
                </div>
                <div class="d-flex flex-column">
                    <img class="resource-img" src="img/resources/ore.svg">
                    <span class="text-center">12</span>
                </div>
                <div class="d-flex flex-column">
                    <img class="resource-img" src="img/resources/lumber.svg">
                    <span class="text-center">12</span>
                </div>
                <div class="d-flex flex-column">
                    <img class="resource-img" src="img/resources/wool.svg">
                    <span class="text-center">12</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header font-weight-bold text-uppercase">
        Building Pool
    </div>
    <div class="card-body">
        <div class="card-text">
            <div class="d-flex justify-content-around justify-content-end">
                <div class="d-flex flex-column">
                    <img src="img/buildings/blue_settlement.svg" class="building-img">
                    <span class="text-center">4</span>
                </div>
                <div class="d-flex flex-column justify-content-end">
                    <img src="img/buildings/blue_city.svg" class="building-img">
                    <span class="text-center">4</span>
                </div>
                <div class="d-flex flex-column justify-content-end">
                    <img src="img/buildings/blue_road.svg" class="building-img">
                    <span class="text-center">15</span>
                </div>
            </div>
        </div>
    </div>
</div>